@model IEnumerable<VendasHackathon.Models.ClienteModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<div>
    <h1>Lista de clientes</h1>
    <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar cliente</a>
</div>

<div class="table-responsive">
    <table id="tabela-formatada" class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Cpf</td>
                    <td>@Html.DisplayFor(model => item.DataNascimento)</td>
                    <td>
                        @if(item.Ativo)
                        {
                            <span>Ativo</span>
                        }
                        else
                        {
                            <span>Inativo</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Cliente" asp-route-id="@item.Id" asp-action="Update" role="button">Editar</a>
                        @* <a class="btn btn-danger" role="button" asp-route-id="@item.Id" asp-action="InativaCliente" asp-controller="Cliente">Inativar</a> *@
                        <a class="btn btn-danger" role="button" data-bs-toggle="modal" data-bs-target="#modalInativar">Inativar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalInativar" tabindex="-1" aria-labelledby="modalInativar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInativar">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>